{% extends 'DefaultBundle::base.html.twig' %}
{%block body %}
	<div>
		<span><h3><strong>KURS Z GWARANCJĄ EFEKTÓW</strong></h3></span>
</div>
<br>
<p style = "text-align: center;">
<img src="{{asset('image/gwarancja.png')}}" alt="" width="130" height="128">
</p>



<p id = "szczegoly_gwarancji">
<span class = "glyphicon glyphicon-ok kurs"></span> Wzrost tempa czytania <span class = "procent">300% - 500%</span><br>
<span class = "glyphicon glyphicon-ok kurs"></span> Wzrost skuteczności zapamiętywania <span class = "procent">300%</span><br>
<span class = "glyphicon glyphicon-ok kurs"></span> Wzrost koncentracji <span class = "procent">100%</span><br>
    Skuteczność metod potwierdzona przez: dra Marka Sikorskiego i prof. dra hab. Andrzeja Makowskiego z Akademii Morskiej w Gdyni oraz prof. dra hab. Bohdana Wojcisze ze Szkoły Głównej Psychologii Społecznej w Warszawie.</p><br>
<br>
<center>
<img src = "{{asset('image/kurs.jpg')}}" width = "350" height="250" style = "margin:15px;">
</center>
<div class = "center procent">		
<p>Przed Tobą kolejny semetr nauki Twojego dziecka</p>
<p> Czy ty też jak większość rodzic&oacute;w zastanawiasz się jak Twoje dziecko sobie poradzi?</p>
<p>Jak będzie wyglądało odrabianie lekcji?</p>
<p> Jak będzie przebiegała nauka do sprawdzian&oacute;w?</p>
<p> Jak będzie wyglądało czytanie lektur?</p>
</div>
<p>Możesz przymuszać dziecko do nauki, karać, gdy nie odrobi lekcji. Ale to nie wyjście z sytuacji. To może się udać raz, dwa razy. Możesz zatrudnić korepetytora, kt&oacute;ry jeszcze raz trochę dokładniej om&oacute;wi materiał z lekcji, ale on nie nauczy się za Twoje dziecko. Ono musi się nauczyć samo. Możesz sam przejąć rolę korepetytora i z dzieckiem siadać do odrabiania lekcji, ale - ile razy to będziesz robić&hellip; rok szkolny jest długi.</p>
<p>Kiedy najlepsi uczniowie zabierają się do nauki korzystają z następujących umiejętności:</p>

<ol class = "">
    <li><p><span class="glyphicon glyphicon-ok kurs"></span> Szybkiego czytania materiału, w tym lektur szkolnych.</p></li>
    <li><p><span class="glyphicon glyphicon-ok kurs"></span> Łatwego wyszukiwania potrzebnych informacji.</p></li>
    <li><p><span class="glyphicon glyphicon-ok kurs"></span> Tworzenia przejrzystych notatek, z których łatwo się uczyć.</p></li>
    <li><p><span class="glyphicon glyphicon-ok kurs"></span> Bez trudu przychodzi im zapamiętywanie nowych informacji, nawet gdy jest ich bardzo dużo.</p></li>
    <li><p><span class="glyphicon glyphicon-ok kurs"></span> Koncentrują się na wykonywanym zadaniu dopóki go nie ukończą.</p></li>
</ol>

<p>A na koniec mają olbrzymią satysfakcję, że szybko i skutecznie poradzili sobie z lekcjami, a teraz mają czas dla siebie.</p>
<h3>Czy Ty też chciałbyś, aby Twoje dziecko miało takie umiejętności?</h3>
<p>Codziennie widzimy jak dzieci wracają ze szkoły i są przytłoczone ilością materiału, kt&oacute;rą muszą przerobić w domu, a przecież tkwi w nich olbrzymi potencjał. </p>
<p>Dlaczego więc tak się dzieje?</p>
<p>Powod&oacute;w jest kilka.</p>
<p>Dzieci słabo czytają, po kilku latach nauki czytania ich prędkości wynoszą 60 - 80 sł&oacute;w na minutę (średnia prędkość czytania dorosłej osoby to około 200 sł&oacute;w na minutę) i do tego mają słabe zrozumienie tekstu. Skutkuje to tym, że na przeczytanie książki, kt&oacute;ra liczy sobie około 200 stron dzieci potrzebują około 20 godzin i nawet, jeżeli się to uda, niewiele rozumieją. </p>
<h3>Jaką zatem mają szansę, aby polubić czytanie???</h3>
<p>Mają słabą koncentrację, tyle rzeczy dzieje się wok&oacute;ł, ciągle coś je rozprasza.</p>
<p>Trzeba się nauczyć na sprawdzian, zapamiętać sł&oacute;wka z języka obcego, daty z historii i cała masę innych informacji.</p>
<p>Tylko, że w szkole nie powiedzieli jak się uczyć, jak zapamiętywać.</p>
<p>A przecież tak być nie musi.</p>
<div>
<img src = "{{asset('image/skrzydla.jpg')}}" width = "350" height="250" style="float:left; margin: 15px;">
<p>Wyobraź sobie, że Twoje dziecko z ochotą i pewnością idzie do szkoły, bo dzisiaj zaczynają omawiać lekturę, kt&oacute;rą skończyło czytać już dwa tygodnie temu i doskonale wszystko pamięta. Następna lekcja to język angielski i sprawdzian z kilkudziesięciu sł&oacute;wek, kt&oacute;rych nauczyło się w ciągu jednego wieczora, doskonale się przy tym bawiąc. Na kolejnych lekcjach jest skupione i z wielką uwagą słucha oraz notuje ważne informacje. Po powrocie do domu widzisz radość na jego twarzy, bo Pani je pochwaliła za aktywność na lekcji przy omawianiu lektury.</p>
</div>
<h3 style = "clear:both;">Kurs &bdquo;Lepiej się uczę, szybko czytam&rdquo; zapewni to wszystko Twojemu dziecku.</h3>
<p>Od 2004 roku zesp&oacute;ł naszych metodyk&oacute;w: Bartosz Raszewski, Katarzyna Pawlaczyk, Dorota Szymczak, Albert Pietras, Agnieszka Magdar nieustannie pracuje nad udoskonaleniem i dostosowaniem naszych kurs&oacute;w do aktualnych potrzeb i problem&oacute;w uczni&oacute;w szk&oacute;ł podstawowych. Nasi trenerzy niejednokrotnie byli świadkami jak uczniowie powszechnie uważani za przeciętnie uzdolnionych, "słabych" i ze zdiagnozowanymi dysfunkcjami stawali się prymusami nie tylko na tle swojej klasy, ale nawet szkoły.</p>
<p>Podstawowym problemem często nieporuszanym w tradycyjnym modelu nauczania jest &bdquo;techniczna kwestia" przyswajania informacji i nabywania umiejętności. W EDU wychodzimy z założenia, że nie ma niezdolnych uczni&oacute;w, każdy z nich jest indywidualnością i to, co się sprawdza w jednym przypadku może nie skutkować w innym. Dlatego w naszej szkole skupiamy się na opracowaniu metod efektywnej nauki. W trakcie lat pracy udało nam się wyodrębnić czynniki decydujące o skuteczności i efektywności nauki.</p>
<h3>My uczymy jak się uczyć.</h3>
<hr />
<p>Dlatego, że kurs jest taki długi (32 tygodnie) możemy ZAGWARANTOWAĆ CI, ŻE PO NASZYM KURSIE TWOJE DZIECKO STANIE SIĘ DOSKONAŁYM UCZNIEM, A JEGO POSTĘPY W NAUCE OGROMNIE CIĘ ZASKOCZĄ.</p>
<center>
<img src = "{{asset('image/nauka.jpg')}}" width = "350" height="250" style = "margin: 15px;">
</center>
<p class = "center">Nasze podejście zaowocowało rozwiązaniem następujących problem&oacute;w:</p>
<div class = "lista">
<ol>
    <li><span class = "bold">ORTOGRAFIA</span> - dzięki odpowiednim ćwiczeniom nasi uczniowie przestają popełniać błędy ortograficzne.</li>

    <li><span class = "bold">CZYTANIE</span> - proces nauki czytania jest żmudny i długotrwały. Dlatego dzieci, kt&oacute;re szybko się nudzą, nie są skłonne do wytrwałej pracy. Średnia prędkość czytania ucznia drugiej klasy wynosi od 30 do 50 sł&oacute;w na minutę, na koniec nauki w szkole podstawowej te prędkości wynoszą 80-100 sł&oacute;w na minutę. Dzięki naszej metodzie, efekty pojawiają się dużo szybciej. Dzieci zwiększają prędkość średnio od 3 do 7 razy ( 150 - 500 choć nierzadko prędkości przekraczają 1000 sł&oacute;w na minutę) i podnoszą zrozumienie, a co za tym idzie zaczynają widzieć, że czytanie może być ciekawą przygodą. Przy niewielkim wysiłku zaczynają dostrzegać to - co w książkach jest najcenniejsze.</li>


    <li><span class = "bold">KONCENTRACJA</span> - wiele się m&oacute;wi o tym, że dzieci nie potrafią się koncentrować, tymczasem to nie do końca jest prawda. Koncentracja to naturalny stan każdego człowieka i dzieci też potrafią w niego wchodzić, dzięki naszym ćwiczeniom stan koncentracji wydłuża się kilkakrotnie, więc nauka przebiega dużo skuteczniej.</li>

    <li><span class = "bold">RELAKS</span> - to stan najbardziej sprzyjający nauce, jednak bardzo się tą kwestię zaniedbuje. Dzieci mają całą masę negatywnych nawyk&oacute;w emocjonalnych związanych z nauką i szkołą. Ponadto w stresie umysł blokuje się i nie pracuje wydajnie, więc nie ma mowy o efektach w nauce. Tymczasem wchodzenie w stan relaksu jest umiejętnością, kt&oacute;rą można nabyć. Nasze ćwiczenia pozwolą każdemu uczniowi zrelaksować się w kilka sekund nawet przed najbardziej stresującym sprawdzianem czy egzaminem i uzyskać dostęp do swoich naturalnych zasob&oacute;w intelektualnych.</li>

    <li><span class = "bold">PAMIĘĆ</span> - kieruje się swoimi zasadami, ich zrozumienie jest kluczem do efektywnego funkcjonowania i wykorzystywania pamięci. &nbsp;Nieznajomość zasad przyczynia się do problem&oacute;w z nauką i zniechęca do niej. Przy pomocy specjalnych technik pamięciowych można wykorzystać w pełni potencjał pamięci i w bardzo kr&oacute;tkim czasie przyswajać olbrzymie porcje informacji np. liczne sł&oacute;wka z języka obcego, daty i wydarzenia z historii, symbole pierwiastk&oacute;w z chemii, r&oacute;żnego typu pojęcia i definicje i wiele innych informacji.</li>

    <li><span class = "bold">ZARZĄDZANIE CZASEM</span> -&nbsp;powszechnie wiadomo, że tempo życia społeczeństwa wzrasta. Dzieci także to odczuwają, maja problemy z organizacją czasu nauki i innych zajęć pozalekcyjnych. Są sfrustrowane, bo często muszą robić w danej chwili to, czego nie chcą, kosztem czasu dla swoich zainteresowań. U nas nauczą się, jak w pełni i efektywnie wykorzystywać sw&oacute;j czas w taki spos&oacute;b, aby starczyło go na naukę i inne aktywności pozaszkolne. Przez odpowiednie zarządzanie czasem można nauczyć się jak zamiast gasić pożary, po prostu im zapobiegać.</li>

    <li><span class = "bold">NOTOWANIE</span> - kolejna umiejętność, kt&oacute;ra może sprawiać problem. Dzieci nie potrafią notować. Notatki są przeładowane, nieczytelne i nauka z takich notatek stanowi nie lada problem. U nas nauczą się jak tworzyć zwięzłe, kolorowe, przejrzyste notatki i co najważniejsze nauka z takich notatek zajmuje dosłownie chwilę. Treść notatki w 70 &ndash; 80% zapamiętywana jest w trakcie ich tworzenia.</li>
</ol>
</div>
<p>Jeżeli Twoje dziecko ma dysleksje, to możesz o tym problemie zapomnieć. Nasze metody znakomicie sprawdzają się w przypadku uczni&oacute;w z dysleksją.</p>

<p>Po naszym kursie Twoje dziecko uwolni sw&oacute;j olbrzymi potencjał, a Ty w końcu nie tylko będziesz spokojny o jego przyszłość, ale odczujesz dumę z osiągnięć własnego dziecka.</p>
<img src = "{{asset('image/potencjal.jpg')}}" style = "float:right; margin:15px;" width = "350" height = "250">
<p class = "blue">Pomyśl także jak to wpłynie na samoocenę Twojego dziecka. Czy mając świadomość tego, że potrafi się nauczyć absolutnie wszystkiego, wpłynie to na jego wybory dotyczące szkoły średniej? A potem kierunku studi&oacute;w? Czy myślisz, że będzie się wycofywało i unikało wyzwań? Czy raczej pewnie kroczyło drogą sukces&oacute;w? </p>
<p>Skuteczność naszych metod została potwierdzona pedagogicznymi i psychologicznymi badaniami naukowymi przez dr Marka Sikorskiego i mgr Adama Kwaśniewskiego z Akademii Marynarki Wojennej w Gdyni oraz przez Wyższą Szkołę Psychologii Społecznej w Sopocie.</p>
<p>A z naszych usług korzystało już wiele firm i szk&oacute;ł<a class=" link" href="http://akademiaedukacji.pl/edu/rekomendacje"> zobacz nasze referencje</a></p>
<p>W obecnych czasach umiejętność zdobywania wiedzy jest bardziej cenna niż sama wiedza.</p>
<p>U nas masz niepowtarzalną szansę wyposażyć swoje dziecko w takie właśnie umiejętności. Zaprocentuje to nie tylko w obecnym roku szkolnym, ale także w przyszłych latach, kiedy Twoje dziecko zacznie myśleć nad wyborem swojej drogi życiowej, najpierw o szkole średniej a potem o studiach. Z tymi narzędziami poradzi sobie na każdej uczelni.</p>
<p>Pamiętasz słowa amerykańskiego pisarza:</p>

 <blockquote>
  <p>&bdquo;Ci, kt&oacute;rzy się uczą posiądą Ziemię, zaś Ci, kt&oacute;rzy się nauczyli będą doskonale przygotowani do życia w świecie, kt&oacute;rego nie ma&rdquo;.</p>
  <footer>Eric Hoffer </footer>
     
</blockquote>


<hr />
<p><a href="{{path('default_dowodySkutecznosci')}}">Dowody skuteczności</a></p>
<p><a href="{{path('default_programNauczania')}}">Program nauczania</a></p>

<p>Trzymasz w swoich rękach przyszłość swojego dziecka, jeżeli nie jesteś zadowolony z jego wynik&oacute;w szkolnych to najprawdopodobniej samo nic się nie zmieni. A z nami masz szanse zapewnić mu taką przyszłość, jakiej dla niego chcesz.&nbsp; Zapisz swoje dziecko już teraz !!!</p>
<br>
<center>
    <p><a href="{{path('default_zapisy')}}" class="color">Szczeg&oacute;łowe informacje o terminach i lokalizacjach</a></p>
</center>

								   {% endblock %}
{% block script %}{% endblock %}