{% extends 'DefaultBundle::base.html.twig' %}

{% block body %}
<center>
<p>Do pełnej rezerwacji wymagana jest opłata 50 zł wliczona w cenę kursu</p>
<br><br>

<a href="https://sklep.przelewy24.pl/zakup.php?z24_id_sprzedawcy=77971&z24_kwota=100&z24_currency=pln&z24_nazwa=Op%B3ata+rejestracyjna&z24_return_url=http%3A%2F%2Fczytaniedladzieci.pl%2Fdziekujemy&z24_language=pl&k24_kraj=PL&z24_crc=b3a45d3f&k24_nazwa={{k24_nazwa}}&k24_miasto={{k24_miasto}}&k24_ulica={{k24_ulica}}&k24_numer_dom={{k24_numer_dom}}&k24_numer_lok={{k24_numer_lok}}&k24_kod={{k24_kod}}&k24_email={{k24_email}}" class="color" role="button" class="color">Opłacam rezerwację 50 zł</a>

</center>
<br><br>

{% endblock %}
