


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h5>EDU Szkoła szybkiego czytania i technik pamięciowych<br>
poznan@akademiaedukacji.pl<br>
    Tel. 787 620 114<br></h5>
    <div style = "float:right;">
        <table>
            
            <tr><td></td><td>Kurs "Lepiej się uczę, szybko czytam"</td></tr>
            <tr><td></td><td>{{polaczenie.grupa}} klasa</td></tr>
            <tr><td></td><td>{{polaczenie.nazwa}}</td></tr>
            <tr><td></td><td>{{polaczenie.adres}}</td></tr>
            <tr><td></td><td>Dzień i godzina-{{polaczenie.dzienigodzina}}</td></tr>
            <tr><td></td><td>Początek kursu: {{polaczenie.poczatekkursu}}</td></tr>
        
        </table>
    </div>
    <br><br>
    <h3 style = "text-align: center;">Umowa kursu wraz z regulaminem</h3>
<br>
        <div style="text-align: center; background-color: blueviolet;">DANE OSOBOWE<br>
NIEZBĘDNE DO CELÓW ORGANIZACJI KURSU</div>

    <br><br>
     <table>
            <tr><td>Imię i nazwisko opiekuna:</td><td>{{opiekun}}</td></tr>
            <tr><td>Adres:</td><td>{{Ulica}} {{NrDomu}}/{{NrLokalu}}, {{ kodPocztowy }} {{miasto}}</td></tr>
            <tr><td>Telefon:</td><td>{{telefon}}</td></tr>
            <tr><td>Email:</td><td>{{email}}</td></tr>
            <tr><td>Imię i nazwisko kuranta:</td><td>{{nazwaDz}}</td></tr>
            <tr><td>Klasa:</td><td>{{klasa}}</td></tr>
        
        </table>
    
    <div style = "font-size: 8px;">W rozumieniu Ustawy z dn. 29 sierpnia 1997 r. o ochronie danych osobowych (Dz. U. Nr 133, poz. 883) administratorem danych osobowych, które podali Państwo powyżej stanie się
EDU reprezentowanym przez Usługi szkoleniowo-doradcze Tomasz Mlastek, Św.Marcin 29/8 w Poznaniu. Dane osobowe podają Państwo dobrowolnie. Będą one przetwarzane w celach
statystycznych i marketingowych np. celem przekazania Państwu materiałów promocyjnych, edukacyjnych lub innych informacji o produktach w przyszłości. Przysługuje Państwu prawo
wglądu do swoich danych oraz ich poprawiania jak również usunięcia.</div>
    
    <h2 style = "text-align: center;">Umowa – regulamin KURSU „LEPIEJ SIĘ UCZĘ, SZYBKO CZYTAM”</h2>
    
    <p>zwany w dalszej części regulaminem. Organizatorem kursu jest EDU Szkoła szybkiego czytania i technik pamięciowych
reprezentowana przez Usługi szkoleniowo – doradcze Tomasz Mlastek z siedzibą na ul. Św.Marcin 29/8 w Poznaniu, zwaną
dalej Edu. </p>
<div style="text-align: center;">§ 1</div>
    <br>
      <div style="text-align: center; background-color: blueviolet;">ZASADY OGÓLNE<br></div>
    <div>
    <ol>
        <li>Niniejszy regulamin jest umową kursu zawartą na okres 32 tygodni zajęć (dni wolne od szkoły w województwie
wielkopolskim – podane przez ogólnopolskie władze oświatowe wydłużają czas trwania umowy kursu).</li>
        <li>Stronami umowy są: organizator kursu - EDU Szkoła szybkiego czytania i technik pamięciowych reprezentowana przez
Usługi szkoleniowo - doradcze Tomasz Mlastek oraz rodzic / opiekun występujący w imieniu dziecka, które zapisuje na
kurs.</li> 
        <li>W kursie mogą uczestniczyć osoby w wieku od 8 do 12 lat (oraz w wyjątkowych przypadkach młodsze lub starsze).</li> 
        <li>W zajęciach może uczestniczyć do 8 osób. Grupa może zostać rozwiązana, jeśli liczba uczestników zmniejszy się poniżej
5 osób, a kursantom zostanie zaproponowany udział w innych grupach.</li> 
        <li>Kursy trwają 32 tygodnie, jedno spotkanie w tygodniu, dwie godziny lekcyjne (45 minut) rozdzielone przerwą
(10 minut).</li> 
        <li>Kurs rozpoczyna się 06.03.2019 i trwa dziewięć miesięcy (32 spotkania). Jeśli dni kursu przypadają na dni wolne od
zajęć szkolnych – ogłoszone przez ogólnopolskie władze oświatowe – wówczas zajęcia Edu również nie odbywają się,
a w najbliższy dzień, na który przypada kurs zajęcia będą uzupełnione, kurs zostanie wydłużony o te zajęcia.</li> 
        <li>Zajęcia dla grupy środowej 2-4 klasa odbywają się w godzinach od 17.30 do 19.10.</li> 
         <li>Edu daje sobie prawo do kontaktów telefonicznych z rodzicem, w sprawach związanych z organizacją kursu
i płatnościami..</li> 
        <li>Edu nie ponosi odpowiedzialności za rzeczy pozostawione w salach, w których odbywają się zajęcia.</li> 
        <li>W imieniu dziecka rodzic lub opiekun prawny zapoznaje się z całością i podpisuje niniejszy regulamin.</li>
        
    </ol>
    </div>
    
    <div style="text-align: center;">§ 2</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">ZASADY OBOWIĄZUJĄCE W OKRESIE KURSU I DOTYCZĄCE GWARANCJI<br></div>
    <div>
    <ol>
        <li>Dzieci poprzez chodzenie na zajęcia, podczas których ćwiczą i uczą się stosowania nowych metod przyspieszających i
ułatwiających czytanie, rozumienie, zapamiętywanie, koncentrację i uczenie osiągają wysokie wyniki i robią duże
postępy. Dodatkowo rodzic zapisujący dziecko na kurs ma prawo do pisemnej gwarancji zapewniającej, że dzięki odbyciu
CAŁEGO KURSU na koniec dziewiątego miesiąca u dziecka zwiększeniu ulegnie skuteczność uczenia się do 300%, w
oparciu o:
            <ol>
                <li>zwiększenie prędkość czytania minimum o 300% z zachowaniem poziomu rozumienia czytanego tekstu,</li>
                <li>zwiększenie zapamiętywania o około 200% dzięki użyciu technik pamięciowych,</li>
                <li>zwiększenie koncentracji o około 100% (czas trwania i/lub zakres uwagi).</li>
            </ol>
</li>
        
        
        <li>Istnieje możliwość uzyskania jeszcze większych wyników. Dla ich uzyskania w trakcie kursu konieczne jest współpraca
z trenerem - uczestniczenie w warsztatach dla rodziców - oraz wspieranie dziecka w ćwiczeniach domowych. Zazwyczaj
ćwiczenia domowe dotyczą następujących bloków ćwiczeniowych:
        <ol>
            <li>relaks, koncentracja, ćwiczenia z kostkami od 5 do 10 minut</li>
            <li>trening z podręcznika dla dzieci Bartosza Raszewskiego „Lepiej się uczę, szybko czytam” około 10-15 minut
(zgodnie z poleceniami trenera)</li>
            <li>
            <ol>
                <li>dla dzieci 8-9 lat samodzielny trening czytania od 10 do 15 minut i dodatkowo wspólne czytanie (rodzic - dziecku
15 minut)</li>
                <li>dla dzieci 10-12 lat trening czytania od 15 do 20 minut (wspólne czytanie mile widziane).</li>
                </ol>
            </li>
        </ol>
        </li> 
        
        
        <li>W przypadku gdy dziecko i rodzic wypełnią powyższe zobowiązania a nie wystąpi zagwarantowany efekt, Edu
zobowiązuje się umożliwić takiemu dziecku (bezpłatnie) powtórzenie kursu, aż do wystąpienia zagwarantowanego
efektu.
        </li> 
        <li>Edu nie zwraca opłaty za niewykorzystane zajęcia lub warsztaty. W przypadku nieobecności trener wręczy brakujące
materiały i poinformuje dziecko, jak powinno dalej ćwiczyć a dzwoniąc do sekretariatu można uzyskać informację czy
jest inna grupa, w której można uzupełnić ten numer spotkania.</li>
        
        
        <li>Na ostatnim spotkaniu Edu wystawia kursantowi certyfikat ukończenia kursu. W przypadku większej ilości spotkań
opuszczonych przez kursanta, certyfikat ukończenia kursu otrzymują tylko kursanci, którzy mają mniej niż 5
nieuzupełnione spotkania.</li> 
        
        
        <li>Rodzic reprezentujący dziecko ma prawo zrezygnować z kursu pisemnie wypowiadając niniejszą umowę
z zachowaniem okresu wypowiedzenia, liczącego jeden miesiąc, który biegnie od 1 dnia kolejnego miesiąca, w stosunku
do miesiąca, w którym zostało złożone wypowiedzenie. Pisemne wypowiedzenie umowy kursu może nastąpić poprzez
wysłanie maila na adres: poznan@akademiaedukacji.pl</li>
        
        </ol>
    </div>
    
      <div style="text-align: center;">§ 3</div>
    <br>
     <div style="text-align: center; background-color: blueviolet;">ZASADY PŁATNOŚCI<br></div>
    <div>
    <ol>
        <li>Cena katalogowa kursu „Lepiej się uczę, szybko czytam” wynosi 2061,00 zł. Promocja OKRESOWA – obejmuje
osoby, które w okresie do {{data}} zarezerwują sobie miejsce na kursie oraz dokonają opłaty rezerwacyjnej w
wysokości 50 zł, wówczas cena całego kursu „Lepiej się uczę, szybko czytam” wynosi 1431,00 zł.</li>
        
        
        <li>Opłaty za kurs dokonuje się w 9 częściach, 9 czynszów po 159,00 zł, za każdy miesiąc z góry. (Wyjątek stanowi
pierwszy czynsz, 50 zł przy zapisie i 109 zł do 10 dnia pierwszego miesiąca kursu). Wysokość czynszów jest niezależna od ilości zajęć w
danym miesiącu. Opłaty miesięczne należy wpłacać za miesiąc z góry do 10 dnia każdego miesiąca (za dany miesiąc)
przelewem na konto firmowe w Alior Banku 03 2490 0005 0000 4530 6834 7489.</li> 
        
        
        <li>Cena zawiera komplet materiałów potrzebnych do kursu.</li> 
        
        </ol>
        <p>Zapoznałem się szczegółowo z umową i regulaminem kursu i w pełni je akceptuję.</p>
        
      <br><br><br><br>
        <table>
            <tr><td>..................................................</td><td style = "color:white;">..........................................................</td><td>.................................................</td></tr>
            <tr><td style="font-size: 9px;">Podpis rodzica lub prawnego opiekuna dziecka oraz data</td><td style = "color:white;">..........................................................</td><td style="font-size: 9px;">Podpis przedstawiciela EDU</td></tr>
        </table>
        
    </div>
    
    
   
    
    </body>



</html>